.radiotext {
  font-size: 18px;
  font-weight: bold;
}
input[type="radio"]:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #d1d3d1;
  content: "";
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}

input[type="radio"]:checked:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #ffa500;
  content: "";
  display: inline-block;
  visibility: visible;
  border: 2px solid black;
  padding: 10px;
  font-size: 22px;
}

input[type="radio"]:checked + .radiotext {
  animation: bulge 1s forwards;
  font-size: 18px;
}

.radiotext {
  padding-left: 15px;
}

@keyframes bulge {
  50% {
    font-size: 1.5em;
    font-weight: bold;
  }
  100% {
    font-size: 1.2em;
    font-weight: bold;
  }
}

.inputbox:focus {
  background: #efefef;
  border: 0.2pt solid blue;
  box-shadow: 2px 2px;
}
